<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}l'Envie aix en provence!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
    {% endblock %}


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <style>
        html{
            scroll-behavior: smooth;
        }
    </style>

</head>
<body>

{% block content %}
    {% include "navbar.html.twig" %}
    {% include "header.html.twig" %}
    {% include "content.html.twig" %}
    {% include "location.html.twig" %}
    {% include "footer.html.twig" %}
{% endblock %}

</body>

{% block javascripts %}{% endblock %}


</html>
