<style>
    a{
        color: whitesmoke;
    }
    a:hover{
        color: black;
        text-decoration: none;
    }
 .fab{
     font-size: 2rem;
     margin :1rem;
     color: whitesmoke;
 }

 .fab:hover{
     color:black;
 }


.footer{
    background-color: #212529;
}


</style>

<div class=" footer row justify-content-center features">
    <footer>
        <div class="social">
            <a href="https://instagram.com/lenvie13100?igshid=kccvk8or3jru">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="#">A propos</a></li>
        </ul>
        <p class="copyright">L&#39;Envie  © 2020</p>
    </footer>
</div>
